html {
  box-sizing: border-box;
}

.container{
  width: 100px;
  height: 500px;
  margin: 40px auto;
}

.square {
  width: 48px;
  height: 48px;
  border: 2px solid black;
}

.color {
  background-color: blue;
}
