html {
  box-sizing: border-box;
}

body{
  background-color: brown;
}

.container-main {
  margin: 0 auto;
}

.container{
  width: 700px;
  height: 700px;
  margin: 40px auto;
  border: 5px solid black;

}

.square {
  width: 10px;
  height: 10px;
  float:left;
}


.clearfix {
  float:none;
}

.color {
  background-color: blue;
}

.menu{
  text-align: center;
  margin: 40px auto;
}
